.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background: rgb(51, 51, 51) url("../public/HomeGrid.jpg") no-repeat fixed center;
  /* filter: blur(1rem); */
  /* background-image: url("../public/HomeGrid.jpg"); */
}

.home {
  display: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  /* max-width: var(--max-width); */
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  backdrop-filter: blur(0.5rem);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  background-color: #0000007d;
}

.homeText {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 605px;
}

.form {
  width: 50%;
}

.searchInput {
  background-color: #10161D;
  color: #b4b4b4;
}

.searchLabel {
  color: #b4b4b4;
}

